.item-card{
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 10px;
    border: 1px soid #eee !important;
}
.item-card img{
    border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.item-card-hov p{
    font-size: smaller;
    margin-bottom: 0px;
    font-weight: bolder;
}
.item-card-hov i{
    font-weight: bolder;
}
.item-card-hov {
    position: absolute;
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateY(20px);
    background-color: white;
    display: flex;
    width: 130px;
    gap: 5px;
    border-radius: 5px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.08);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}


.item-card:hover .item-card-hov {
    transform: translate(-50%, -50%) translateY(20px);
    opacity: 1;
    
}
.item-card:hover{
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.05);
}
.dis-flex-end{
    display: flex;
    justify-content: end;
}
.mb-0-p{
    margin-bottom: 0px;
    font-size: larger;
}
.range-box{
    border: 1px solid gray;
    width: 55px;
    height: 45px;
    border-radius: 5px;
    align-items: center;
    overflow: hidden;
}
.filter-btn{
    color: #fff;
    border: none;
    background-color: #a01e20;
    padding: 10px;
    border-radius: 3px;
    margin-top: 20px;
}
.filter-btn:hover{
    background-color: #000;
    color: #fff;
}