@font-face {
    font-family: 'AcryleScript';
    /* Specify the desired font family name */
    src: url('../../../public/AcryleScript_PersonalUse.ttf') format('truetype');
    /* Path to your .woff font file */
    /* src: url('../../../public/Angelyta.otf') format('opentype');  */
}

@font-face {
    font-family: 'Impact';
    src: url('../../../public/impact.ttf') format('truetype');
}
@font-face {
    font-family: Aller;
    src: url('../../../public/Aller.ttf') format("truetype");
  }
.header {
    padding: 10px;
    background-color: #fff;
    height: 15vh;
    align-content: center;
}
.desktop-view {
    overflow: hidden;
}
.header-logo {
    align-items: center;
}

.logo-left {
    display: flex;
    align-items: center;
}

.logo-left img {
    max-height: 60px;
}

.logo-right {
    display: flex;
    gap: 30px;
}

.logo-right img {
    max-height: 70px;
}

.main-img {
    background-image: url(../img/bg-wall.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 84vh;
    padding: 0 0 40px 0;
    background-position: 0 -20px;
    position: relative;
}

.wall-img {
    padding-top: 12px;
}

.pers-one {
    transform: perspective(1100px) scale(0.9) translateX(-1%) rotateY(35deg);
    padding-top: 90px;
}

.wall-img img {
    box-shadow: -4px 3px 6px 0px #000;
}

.wall-img .img-link img {
    transition: all 0.2s ease-in;
}

.wall-img .img-link:hover img {
    transform: scale(1.07);
}

.big-img {
    height: 100%;
    padding-top: 20px;
}

.big-img img {
    box-shadow: -4px 3px 6px 0px #000;
    height: 100%;
    object-fit: cover;
}

.big-img .img-link img {
    transition: all 0.2s ease-in;

}

.big-img .img-link:hover img {
    transform: scale(1.03);
}

.banner-text {
    position: relative;
    margin-top: 100px;
}

.banner-text h3 {
    font-family: impact;
    letter-spacing: 4px;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #000;
}

.banner-text h4 {
    color: #fff;
    font-family: AcryleScript;
    font-weight: 400;
    font-size: 40px;
    position: absolute;
    top: 20%;
    left: 15%;
}

.banner-text p {
    margin-top: 30px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000;
}

.note {
    margin-top: 125px;
    background: #000;
    position: relative;
    left: -19px;
    border-radius: 5px;
    height: fit-content;
}
.note button {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: 0;
}
.note h4 {
    color: #fff;
    padding: 5px 22px;
    font-size: 18px;
    margin-bottom: 0;
}

p.detail {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    font-weight: 600;
}

.dark-bg {
    background-color: #000;
}

.inner-heading {
    position: relative;
}

.inner-heading h3 {
    font-family: impact;
    letter-spacing: 3px;
    font-weight: 600;
    font-size: 31px;
    line-height: 41px;
    color: #313131;
}

.inner-heading h4 {
    color: #fff;
    font-family: AcryleScript;
    font-weight: 400;
    font-size: 40px;
    position: absolute;
    top: 15%;
    left: 12%;
}

.inner-heading p {
    margin-top: 30px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000;
}

.inner-padding {
    padding: 20px 0;
    height: 85vh;
}

.text-area {
    color: #f9f9f9;
    position: relative;
}

.text-area .heading h4 {
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 30px;
}

.text-area .heading h4 span {
    color: #fff;
    font-weight: 700;
}

.text-area .sub-heading {
    font-size: 20px;
    font-style: italic;
    margin-bottom: 0;
}

.text-area p {
    margin-bottom: 0;
    font-size: 12px;
}

.text-area .price {
    margin-top: 20px;
}

.text-area .price h4 {
    font-size: 18px;
}

.text-area .price .btn-buy {
    padding: 2px 40px 2px 5px;
    background: #333;
    font-size: 18px;
    border-radius: 5px;
    font-weight: 600;
    color: #fff;
    border: 0;
}
.back-btn , .back-btn:hover {
    padding: 2px 5px;
    background: #333;
    font-size: 18px;
    border-radius: 5px;
    text-align: center;
    font-weight: 600;
    color: #fff;
    width: fit-content;
    border: 0;
    float: right;
    text-decoration: none;
}


.bottom-txt {
    color: #fff;
    position: absolute;
    bottom: 0;
    padding: 20px 0;
}

.bottom-txt hr {
    margin: 5px 0;
}

.bottom-txt table tr td:first-child {
    padding-right: 20px;
}

.bottom-txt table td {
    font-size: 12px;
    line-height: normal;
    padding-bottom: 0;
}

.vid-sec {
    position: relative;
    height: 100%;
}

.vid-sec .videos {
    position: absolute;
    bottom: 0;
}

.resp-height {
    height: 100%;
}

.pers-two {
    transform: perspective(1100px) scaleX(0.695) scaleY(0.57) translateX(-230%) rotateY(-35deg);
    padding-top: 60px;
}

.side-img-sm {
    padding-top: 20px;
}

.side-img-sm img {
    box-shadow: 4px 3px 6px 0px #000;
    transition: all 0.2s ease-in;
}

.side-img-sm:hover img {
    transform: scale(1.07);
}

.pers-three {
    transform: perspective(1136px) scaleX(0.23) scaleY(0.55) translateX(-1160px) rotateY(58deg);
    padding-top: 125px;
}

.pers-three .wall-img img {
    box-shadow: -7px 5px 6px 0px #000;
}

.pers-three .wall-img .img-link:hover img {
    transform: scale(1.05);
}

.mob-area .main-area {
    position: relative;
}

.mob-area .main-area .content {
    position: absolute;
    top: 0;
    padding: 30px 20px;
    width: 100%;
}

.mob-area .main-area .content .heading-text {
    text-align: left;
}

.mob-area .main-area .content .heading-text h3 {
    font-family: impact;
    letter-spacing: 4px;
    font-weight: 700;
    font-size: 28px;
    line-height: 30px;
    color: #000;
}

.mob-area .main-area .content .heading-text h4 {
    color: #fff;
    font-family: AcryleScript;
    font-weight: 400;
    font-size: 42px;
    position: absolute;
    top: 18%;
    left: 11%;
}

.mob-area .main-area .content .heading-text p {
    font-size: 18px;
    line-height: normal;
    font-weight: 500;
    color: #000;
}

.mob-area .curator-btn {
    background: #000;
    position: relative;
    padding: 4px 10px 4px 9px;
    right: -25px;
    border-radius: 5px;
}

.mob-area .curator-btn button {
    background: #000;
    color: #fff;
    border: 0;
    padding: 0;
}

.pdf-btn {
    position: sticky;
    bottom: 10%;
    right: 20px;
    width: fit-content;
    margin-left: auto;
}
.pdf-btn .pdf{
  max-width: 50px;
}
.curator-modal {
    align-content: center;
}
.curator-modal .modal-content{
  padding: 20px 30px 40px 30px ;
}

.curator-modal .modal-body{
    padding: 0;
}

.con-area .list-item svg{
  font-size: 20px;
  margin-right: 10px;
}
.con-area .list-item svg.call{
  fill: #1c3d7c;
}
.con-area .list-item svg.mail{
  fill: #cc1313;
}
.con-area .list-item svg.whatsapp{
  fill: #3ca70a;
}
.con-area .list-item{
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}
.con-area .list-item a{
  font-size: 20px;
  text-decoration: none;
  color: #000;
}

.inq-modal .form-label{
    font-size: 14px;
    font-weight: 600;
    padding-top: 10px;
}
.inq-modal  .submit-btn{
    width: fit-content;
    margin: 0 auto;
}
.inq-modal .modal-header{
    border: 0;
}
.error-msg {
    font-size: 14px;
    padding: 5px 0 10px 0;
}

.aller {
    font-family: Aller;
}

.img-area img{
    width:100% !important;
    height: 80vh !important;
    object-fit:cover ;
    max-height: 100%;
    object-position: top;
    padding-left: 20px;
   
}

.js-image-zoom__zoomed-area {
    z-index: 99 !important;
}

.sm-screen{
    display: none;
}
.lg-screen{
    display: block;
}
.h-col{
    height: 100%;
}