.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cart-icon {
  background-color: transparent !important;
  border: none !important;
  color: black !important;
  line-height: 1.5px !important;
}
.vertical-marquee {
  width: 100%; /* Adjust to your layout */
  height: 200px;  
  /* overflow: hidden;   */
  transform: rotate(270deg); 
  width: 380px;
}

.brand-item {
  /* transform: rotate(-90deg); Rotate each item back to normal */
  display: block;
  padding: 10px; /* Adjust spacing if necessary */
}

 
.rfm-marquee-container {
width: 100% !important;
overflow: hidden;
height: 100% !important;
transform: none !important;
left: -90px;
    top: -90px;
    position: absolute;
}

.rfm-initial-child-container {
  height: 100%;
}

.rfm-child {
  height: 100%;
}
.brand-item {
  padding: 0px;
}

.appear-animate {
  width: 100%; /* or a specific width */
  height: 300px; /* or any height you want */
}


.dropdown-box {
  position: absolute;
  z-index: 9999; /* Ensure this is higher than other elements */
}
/* .dropdown-box {
    display: none;
} */

.dropdown-box.active {
    display: block;
    position: absolute;
}

.cart-dropdown {
  background-color: white;
}

.cart-toggle1 {
  position: absolute;
  right: -10px;
  top: -10px;
  padding:20px;
  color: #666;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 20px -8px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 20px -8px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  /* visibility: hidden; */
  /* opacity: 0; */
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
  -webkit-transform: translate3d(0, -10px, 0);
          transform: translate3d(0, -10px, 0);
}

.widget.new{
  box-shadow: none !important;
  border: 0 !important;
}

.widget.new .MuiAccordionSummary-content{
  margin: 0 !important;
}

.widget.new .css-15v22id-MuiAccordionDetails-root{
  padding: 0;
}

.widget .widget-body{
  padding: 10px 0 10px  ;
}

.widget .MuiButtonBase-root.MuiAccordionSummary-root{
  border-bottom : 1px solid #eee !important;
  min-height: fit-content !important;
  padding: 0;
}

.catalogue-vertical {
  color: #fff;
  text-orientation: upright;
  writing-mode: vertical-rl;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  padding: 5px;
  border: none;
  background: transparent;
}

.button-none ,
.button-none:hover,
.button-none:active,
.button-none:focus {
  background: transparent;
    border: none;
    color: black;
    text-transform: capitalize;
    text-align: left;
    padding: 0px;
    line-height: 1.3;
    font-weight: 500;
}

.cross {
  color: black;
  stroke: black !important;
}

.button-none svg{
  color: #666666;
}

.css-nt424e-MuiPaper-root-MuiAccordion-root:first-of-type {
  --Paper-shadow:none !important;
 
}

.price-range-border {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee !important;
}

.box {
  -webkit-box-shadow: 2px 1px 26px -7px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 1px 26px -7px rgba(0,0,0,0.75);
box-shadow: 2px 1px 26px -7px rgba(0,0,0,0.75);
border-radius: 10px;
}